{
  "env": {
    "jest": true
  },
  "extends": [
    "next", 
    "next/core-web-vitals",
    "plugin:react-hooks/recommended",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react",
    "react-hooks",
    "prettier" 
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "extends": "./tsconfig.json"
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "quotes": ["error", "single"],
    "no-use-before-define": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-uses-react": "warn",
    "react/jsx-uses-vars": "error"
    
  },
  "overrides": [
		{
			"files": ["*.js", "*.jsx"],
			"rules": {
				"@typescript-eslint/explicit-function-return-type": "off"
			}
		}
	],
  "settings": {
		"react": {
			"version": "detect" 
		}
	}
}
